thead {
	color: #000;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
	background-color: #eeeeee;
}

caption {
	color: #000;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
}

td {
	padding: 2px;
}

table {
	border: 1px;
	padding: 3px;
}

.map-entry {
	padding: 10px;
}